# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lot
*.lof
*.fls
*.fdb_latexmk
*.synctex.gz
*.bcf
*.run.xml
*.nav
*.snm
*.vrb
# pdfTeX font expansion stuff
pdftex.map

# previews
preview-*.png
preview-*.pdf
comment.cut
