# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Machine Learning
catboost_info/
*/catboost_info/*

# OS
.DS_Store
Thumbs.db
